<h2>My Work</h2>

<p>This is a static site showcasing my artwork and music.</p>
<p>It begins with an automatic slideshow of my paintings.</p>
<%= image_tag ("portfolio-home.PNG"), class: "portfolio-img"%>
<p>Then this section allows visitors to filter the paintings according
to different categories.</p>
<%= image_tag ("portfolio-filter.PNG"), class: "portfolio-img"%>
<p>The last section allows visitors to choose an original song to play.</p>
<%= image_tag ("portfolio-songs.PNG"), class: "portfolio-img"%>
